.rankShowContainer {
    display: inline-block;
    width: 450px;
    height: 190px;
    margin: 0 20px;
    border-bottom: 1px dashed #DDDDDD;
}
.rankShowContent {
    width: 405px;
    margin: 20px auto;
}
.rankShowContent img {
    display: block;
    float: left;
    height: 150px;
    position: absolute;
    clip: rect(0px 100px 128px 0px);
}
.textOnlyRankContainer {
    position: relative;
    height: 50px;
}
.textOnlyRankContent {
    margin: 0 30px;
}
.descArea {
    margin-left: 30%;
    float: left;
}
.textOnlyRankdescArea {
    width: 100%;
    margin-left: 0;
}

.filmTitle span:first-child a {
    color: #3377AA;
    margin-right: 5px;
}
.playable:after {
    content: ' [可播放]';
    color: #00A65F;
}
.filmTitle span:last-child {
    color: black;
}
.yearAndTags {
    margin-bottom: 20px;
}
.stars {
    line-height: 17px;
    display: inline-block;
    width: 80px;
    height: 15px;
    background: url("../../../assets/images/ic_rating_m.png") 0px 0px no-repeat;
}
.stars45 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -15px no-repeat;
}
.stars40 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -30px no-repeat;
}
.stars35 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -45px no-repeat;
}
.stars30 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -60px no-repeat;
}
.stars25 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -75px no-repeat;
}
.stars20 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -90px no-repeat;
}
.stars15 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -105px no-repeat;
}
.stars10 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -120px no-repeat;
}
.stars5 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -135px no-repeat;
}
.stars0 {
    background: url("../../../assets/images/ic_rating_m.png") 0px -150px no-repeat;
}
.score {
    color: #E09015;
    font-size: 16px;
    line-height: 17px;
    margin-right: 12px;
}
.comsNum {
    color: #5C5C5C;
    font-size: 13px;
    line-height: 15px;
}
.descArea p {
    color: #5C5C5C;
    width: 250px;
    line-height: 30px;
}
.descArea p span {
    font-size: 13px;
    line-height: 30px;
}
p.filmTitle {
    width: 100%;
}
.textOnlyRankdescArea p.filmTitle span {
    line-height: 50px;
}
.hoverRankContainer {
    border: 0;
    background-color: white;
    z-index: 3000;
    height: 100px;
    position: absolute;
    left: -20px;
    display: none;
}
.hoverRankContainer .descArea {
    margin-left: 18%;
}
div.hoverRankContent {
    margin-top: 12px;
}
div.hoverRankContent div.descArea p, div.hoverRankContent div.descArea span {
    line-height: 18px;
    margin-bottom: 0;
}
div.hoverRankContent div.descArea .yearAndTags {
    margin-bottom: 3px;
}
div.hoverRankContent img {
    display: block;
    position: absolute;
    clip: rect(0px 60px 74px 0px);
    height: 88px;
}

.textOnlyRankContainer:hover div.hoverRankContainer {
    display: block;
}
